<h1>Posts by <%= @user.user_name %></h1>

<div class="container-fluid">
    <div class="row justify-content-center">
        
        <% @posts.each do |p| %>
        <div class="show-width">
            <div class="posts">
                <div class="d-flex justify-content-between post-header" style="background-color:<%= p.user.user_color %>">
                    <div class="username my-auto"><%= p.user.user_name %></div>
                    <div class="tiny-font my-auto">Posted <%= time_ago_in_words(p.created_at) %> ago.</div>
                </div>
                <div class="top-post">
                    <div class="index-img"><%= link_to(image_tag(p.image.url(:medium)), post_path(p)) %></div>
                    <div class="index-titles">
                        <p class="caption"><%= p.caption %></p> 
                        <p>Location: <%= p.location %></p>
                        <p class="blog"><%= link_to((truncate p.blog, length: 200), post_path(p)) %></p>
                    </div>
                </div>
                
            </div>
        </div>
        <% end %>
        
    </div>
</div>


