<h1>Edit Blog Post</h1>
<div class="container-fluid">
    <div class="row justify-content-center">
     <div class="col-md-8 edit-post">
        <div class="img">
            <%= image_tag(@post.image.url(:medium)) %>
        </div>
        <%= simple_form_for(@post, html: { class: 'form-horizontal' }) do |f| %>
            <%= f.input :image %>
            <%= f.input :caption, input_html: { maxlength: 70 } %>
            <%= f.input :location, input_html: { maxlength: 50 }%>
            <%= f.input :blog %>
            <div class="row justify-content-center">
                <%= f.button :submit, class: 'btn btn-success' %>
                <span class="white">.....</span>
                <%= link_to 'Cancel', :back, class:'btn btn-warning' %>
                <span class="white">.....</span>
                <%= link_to 'Delete Post', post_path(@post), method: :delete, data: {confirm: "Are you sure you want to delete this post?" }, class:'btn btn-danger' %>
            </div>
        <% end %>
        
        </div>
    </div>
</div>