
<h1>New Entry</h1>

<div class="container-fluid">
    <div class="row justify-content-md-center">
     <div class="col-md-8 edit-post">
        <%= simple_form_for(@post, html: { class: 'form-horizontal' }) do |f| %>
            <%= f.input :image %>
            <%= f.input :caption, input_html: { maxlength: 70 }, placeholder: 'Hello world' %>
            <%= f.input :location, input_html: { maxlength: 50 }, placeholder: 'Sydney' %>
            <%= f.input :blog, placeholder: 'Tell me about it' %>
            <div class="row justify-content-md-center">
                <%= f.button :submit, class: 'btn-success' %><span class="white">.....</span><button class='btn btn-warning'><%= link_to 'Cancel', root_path %></button>
            </div>
        <% end %>
        
        
        </div>
    </div>
</div>
