<h1></h1>
<div class="container-fluid">
    <div class="row justify-content-md-center">
        <div class="show-width">
        <ul>
            <li class="img"><%= image_tag(@post.image.url(:large)) %></li>
            <li><%= @post.caption %></li>
            <li><%= @post.location %></li>
            <li><%= @post.blog %></li>
        </ul>
        </div>
    </div>
    <% if current_user?(@post.user) %>
        <div class="row justify-content-md-center">
            <%= link_to "Edit Post", edit_post_path(@post), class:'btn btn-info' %>
        </div>
    <% end %>
</div>