<h1></h1>
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="show-width">
            <div class="posts">
                <div class="d-flex justify-content-between post-header" style="background-color:<%= @post.user.user_color %>">
                        <div class="username my-auto"><%= @post.user.user_name %></div>
                        <div class="tiny-font my-auto">Posted <%= time_ago_in_words(@post.created_at) %> ago.</div>
                </div>
                <ul>
                    <li class="img"><%= image_tag(@post.image.url(:large)) %></li>
                    <li class="caption"><%= @post.caption %></li>
                    <li>Location: <%= @post.location %></li>
                    <li><%= simple_format(@post.blog) %></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <% if current_user?(@post.user) %>
            <%= link_to "Edit Post", edit_post_path(@post), class:'btn btn-info' %>
            <span class="black">.....</span>
        <% end %>
        <%= link_to 'Back', posts_path, class:'btn btn-warning' %>
    </div>
    
</div>