<h1>Photo Blog Entry</h1>
<div class="container">
<ul>
<li><%= image_tag(@post.image.url(:medium)) %></li>
<li><%= @post.caption %></li>
<li><%= @post.location %></li>
<li><%= @post.blog %></li>
</ul>
<button><%= link_to "Home", root_path %></button>
</div>