<!DOCTYPE html>
<html>
  <head>
    <title>Photoblog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  
    <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Montserrat:400,700', type='text/css' %>
    
  </head>

  <body>
    
    <div class="container-fluid">
      <% flash.each do |message_type, msg| %>
          <%= content_tag(:div, msg, class: "alert " + alert_for(message_type)) %>
      <% end %>
      <% flash.clear %>
      <%= yield %>
      
    </div>
    <%= render 'layouts/footer' %>
  </body>

  <script type="text/javascript">
    $(document).ready(function(){
      setTimeout(function(){
        $('.alert').slideUp(500);
      }, 1000);
    })
  </script>
</html>
